/**
 * Basic typography style for copy text
 */
body {
  color: $dark-grey;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: $base-font-size;
}
p{
	color: $dark-blue;
}
a{
	color: $a-color;
}
h1, h2, h3, h4, h5, h6{
  color: $dark-blue;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
}
.h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
dd {
    margin-left: 25px;
}