.header-menu{
	a{
		display: inline-block;
		color: #c1c1c1;
		text-transform: uppercase;
		font-size: 11px;
		margin: 8px 0px;
		padding: 0 10px;
		line-height: 12px;
		& + a{
			border-left: 1px solid white;
		}
		&.active{
			color: white;
		}
	}
}
.footer-menu{
	margin-bottom: 20px;
a{
		display: inline-block;
		color: $dark-blue;
		// text-transform: uppercase;
		font-size: 14px;
		padding: 0 10px 0 0;
		line-height: 12px;
		& + a{
			border-left: 1px solid $dark-blue;
			padding: 0 10px 0 10px;
		}
		&.active{
			color: white;
		}
	}	
}